<?xml version='1.1' encoding='UTF-8'?>
<hudson.tools.JDKInstaller_-DescriptorImpl plugin="jdk-tool@1.1">
  <username>ofedotoff</username>
  <password>{AQAAABAAAAAQGSRggcZURy3pNpvsOOE6fF96mB40YuYMhXq8cBFOih0=}</password>
</hudson.tools.JDKInstaller_-DescriptorImpl>